# results
histogram_equalization/results*
# Prerequisites
*.d

# executables
*.exe

# mac 
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# tex
*.aux
*.toc
*.log
*.dvi
*.ps
*.eps
*.gz
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
